<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zj.mapper.TbGoodsMapper" >
  <resultMap id="BaseResultMap" type="com.zj.entity.TbGoods" >
    <result column="Goodsinsp" property="goodsinsp" jdbcType="VARCHAR" />
    <result column="Goods_name" property="goodsName" jdbcType="VARCHAR" />
    <result column="Goods_no" property="goodsNo" jdbcType="VARCHAR" />
    <result column="Audit_type" property="auditType" jdbcType="VARCHAR" />
    <result column="stauts" property="stauts" jdbcType="VARCHAR" />
    <result column="Cbename" property="cbename" jdbcType="VARCHAR" />
    <result column="cbecodeinsp" property="cbecodeinsp" jdbcType="VARCHAR" />
    <result column="Create_Time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>

</mapper>